// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

.banner {
  width: 20%;
  width: 20%;
  border-left-style: inset;
  border-left-width: 5px;
  p {
    font-size: 20px;
    margin-left: 10px;
  }
}

a {
  color: grey;
  text-decoration: none;
  &:hover {
    color: black;
  }
}
